:host {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    text-align: center;

    > div {
        width: 100%;
        position: relative;

        img.ngx-ic-source-image {
            z-index: 999;
            max-width: 100%;
            max-height: 100%;
            transform-origin: center;
        }
    }

    .ngx-ic-overlay {
        position: absolute;
        pointer-events: none;
        touch-action: none;
        outline: var(--cropper-overlay-color, white) solid 100vw;
        top: 0;
        left: 0;
        height: 100vh
    }

    .ngx-ic-cropper {
        
        pointer-events: none;
        touch-action: none;
        position: absolute;
        display: flex;
        color: #53535C;
        background: transparent;
        outline: rgba(0, 0, 0, 0.3) solid 100vw;
        outline: var(--cropper-outline-color, rgba(0, 0, 0, 0.3)) solid 100vw;
        touch-action: none;


        @media (orientation: portrait) {
            outline-width: 100vh;
        }

        &:after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            opacity: .75;
            color: inherit;
            z-index: 1;
        }

        &:focus {
            .ngx-ic-move {
                border-color: dodgerblue;
                border-width: 2px;
            }
        }

        &.ngx-ic-round {
            outline-color: transparent;

            &:after {
                border-radius: 100%;
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 0 100vw (var(--cropper-outline-color, rgba(0, 0, 0, 0.3)));

                @media (orientation: portrait) {
                    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
                    box-shadow: 0 0 0 100vh (var(--cropper-outline-color, rgba(0, 0, 0, 0.3)));
                }
            }

            .ngx-ic-move {
                border-radius: 100%;
            }
        }
    }
}
