<div [style.background]="imageVisible && backgroundColor"
     #wrapper
>
<div>
    <swiper [config]="config" #newSwiper>
        <ng-template swiperSlide>
            <div class="swiper-zoom-container">
                <img
                    #sourceImage
                    class="ngx-ic-source-image"
                    *ngIf="safeImgDataUrl"
                    [src]="safeImgDataUrl"
                    [style.visibility]="imageVisible ? 'visible' : 'visible'"
                    [style.transform]="safeTransformStyle"
                />
            </div>
        </ng-template>
    </swiper>
</div> 

    <div
        class="ngx-ic-overlay"
        [style.width.px]="maxSize.width"
        [style.height.px]="maxSize.height"
        [style.margin-left]="alignImage === 'center' ? marginLeft : null"
    ></div>
    <div class="ngx-ic-cropper ngx-ic-round"
        [style.top.px]="cropper.y1"
        [style.left.px]="cropper.x1"
        [style.width.px]="cropper.x2 - cropper.x1"
        [style.height.px]="cropper.y2 - cropper.y1"
        [style.margin-left]="alignImage === 'center' ? marginLeft : null"
    ></div>
</div>