<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <image-cropper
    [imageBase64]="myImage"
    [roundCropper]="true"
    [imageQuality]="100" 
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
  ></image-cropper>

  <!-- <p>below canvas can convert to base64 to api</p> -->
  <canvas id="finalCanvas" width="365" height="365"
    style="
        border: 5px solid black;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -5;">
  </canvas>

  <!-- <p>transform style to div before convert to canvas</p> -->
  <div #imgInDiv id="imgInDiv" class="imgInDiv" 
    style="
        overflow: hidden;
        width: 365px;
        height: 365px;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -5;
    ">
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button expand="block" (click)="goToResult()">SAVE</ion-button>
  </ion-toolbar>
</ion-footer>

