<ion-header>
  <ion-toolbar>
    <ion-title (click)="goToFromPlugin()">
      Blank 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="cropperIonContent">
  <div  style=" display: flex; height: 100%; align-items: center;">
    <image-cropper
      [imageBase64]="myImage"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [roundCropper]="true"
      [disabled]="true"
      [hideResizeSquares]="true"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>

  <div class="second-layer"></div>

  <!-- <p>transform style to div before convert to canvas</p> -->
  <div #imgInDiv class="div-layer"
    [style.width.px]="squareSize"
    [style.height.px]="squareSize"
  ></div>

  <div class="fourth-layer"></div>

  <!-- <p>below canvas can convert to base64 to api</p> -->
  <canvas id="finalCanvas"
    [width]="squareSize"
    [height]="squareSize"
    class="canvas-layer">
  </canvas>

</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button expand="block" (click)="goToResult()">SAVE</ion-button>
  </ion-toolbar>
</ion-footer>

